@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  color: #fff8f0;
}

body{
  background-image: radial-gradient(#06313f, #010e11 60%);
}

.hideScrollContainer::-webkit-scrollbar {
  display: none;
}

.text-shadow{
  text-shadow: 0 0 10px #cb7039;
}

.test{
  color: rgba(1, 14, 17, 0.43);
}

.moving_border{}

.moving_border::before{
  content: "";
  position: absolute;
  width: 30%;
  height: 155%;
  animation: borderAnimation 6s linear infinite;
  z-index: -2;
}

.moving_border::after{
  content: "";
  position: absolute;
  background-color: rgb(1, 19, 25);
  inset: 0.5px;
  border-radius: 1.5rem;
  z-index: -1;
}

@keyframes borderAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blinking_text{
  animation: blinking_text 3s linear infinite;
}

@keyframes blinking_text {
  0%, 100% {
    color: #b1e1f1;
  }
  50% {
    color: #fff8f0;
  }
}

