@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  color: #fff8f0;
}

body{
  background-image: radial-gradient(#06313f, #010e11 60%);
}

.hideScrollContainer::-webkit-scrollbar {
  display: none;
}

.text-shadow{
  text-shadow: 0 0 10px #cb7039;
}

.test{
  color: #f38c55;
}